/* #maintopic{
    color: blue;
}
*{
    text-align: center;
}
h1,h3,h5{
    font-style: Georgia;
}
p:nth-of-type(2n+1){
    background-color: blue;
}

button{
    background-color: yellow;
    
}
button:hover{
    color: blue;
}
h1::first-letter{
    color: red;
}
#yes:checked + label{
    background-color: blueviolet;

} */
 /* #outer{
    height: 200px;
    width: 70px;
    border: 2px solid black;

 }
 .inner{
    height: 50px;
    width: 50px;
    border: 2px solid black ;
    margin: 10px;
    border-radius: 50%;
    background-color: red;
 }
 #red{
    background-color: red;
 }
 #yellow{
    background-color: yellow;
 }
 #green{
    background-color: green;
 } */
 /* #box{
    height: 150px;
    width: 300px;
    background-color: grey;
    border: 5px solid black;
    margin: 20px 1em 40px 2em;
    padding: 1em;
 } */
  /* .class{
    height: 100px;
    width: 100px;
    background-color: rgba(255,0,0,0.9);
    border: 2px solid black;
    border-radius: 50%;
    margin: 5px;
    display: inline-block;
  }
  li{
    display: inline-block;
  } */
